# SPDX-License-Identifier: LGPL-2.1-or-later
[Service]
Type=oneshot
ExecStart=echo Start Hola
ExecReload=echo Reload Hola
ExecStop=echo Stop Hola
RemainAfterExit=yes
