/*/*                   -whitespace
/fuzz-bus-match/*      binary
/fuzz-compress/*       binary
/fuzz-dhcp*/*          binary
/fuzz-dns-packet/*     binary
/fuzz-fido-id-desc/*   binary
/fuzz-journald-audit/* binary
/fuzz-lldp-rx/*        binary
/fuzz-ndisc-rs/*       binary
/*/*                   generated
