# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Check if any service failed and then shutdown the machine
After=multi-user.target network-online.target
Requires=multi-user.target
Wants=systemd-resolved.service systemd-networkd.service network-online.target
SuccessAction=exit
FailureAction=exit

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/mkosi-check-and-shutdown.sh
