# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Name=ip6tnl-slaac
Kind=ip6tnl

[Tunnel]
Mode=ip6ip6
Local=slaac
Remote=2001:473:fece:cafe::5179
