# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Kind=l2tp
Name=l2tp99

[L2TP]
TunnelId=10
PeerTunnelId=12
Local=static@test1
Remote=192.168.30.101
EncapsulationType=ip

[L2TPSession]
SessionId=25
PeerSessionId=26
Name=l2tp-ses3

[L2TPSession]
SessionId=27
PeerSessionId=28
Name=l2tp-ses4
