# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[FairQueueingControlledDelay]
Parent=root
Handle=0034
PacketLimit=20480
MemoryLimitBytes=64M
Flows=2048
TargetSec=10ms
IntervalSec=200ms
QuantumBytes=1400
ECN=yes
CEThresholdSec=100ms
