# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=test1

[Network]
IPv6AcceptRA=no
Address=2001:1234:5:8f63::2/128
Address=149.10.123.58/28

[Route]
Destination=2001:1234:5:6fff:ff:ff:ff:ff/128

[Route]
Destination=2001:1234:5:7fff:ff:ff:ff:ff/128
