[Unit]
Description=Test service for delegated logs filtering

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/tests/testdata/units/delegated_cgroup_filtering_payload.sh
Delegate=yes
SyslogLevel=notice
LogLevelMax=info
