[Unit]
Description=Log filtering unit

[Service]
Type=oneshot
# If the service finishes extremely fast, journald cannot find the source of the
# stream. Hence, we need to call 'journalctl --sync' before service finishes.
ExecStart=bash -c 'python3 -c '\''import syslog; syslog.openlog(ident="logs-filtering", logoption=syslog.LOG_PID); syslog.syslog(syslog.LOG_NOTICE, "Logging from the service, and ~more~ foo bar")'\''; journalctl --sync'
SyslogLevel=notice
LogLevelMax=info
