# This file contains the rules needed to create persistent device names.

# we are only interested in add and change actions for block devices
ACTION!="add|change",			GOTO="persistent_storage_tape_end"

# "Medium Changers"
KERNEL=="sg[0-9]*", \
	SUBSYSTEMS=="scsi", ATTRS{type}=="8", \
	IMPORT{program}="scsi_id --export --sg-version=3 --whitelisted --device=$tempnode"

KERNEL=="sg[0-9]*", ATTRS{type}=="8",	ENV{ID_SERIAL}=="?*", \
	SYMLINK+="tape/by-id/scsi-$env{ID_SERIAL}"

SUBSYSTEM!="scsi_tape",			GOTO="persistent_storage_tape_end"

KERNEL=="st*[0-9]|nst*[0-9]",		ATTRS{ieee1394_id}=="?*", \
	ENV{ID_BUS}="ieee1394", ENV{ID_SERIAL}="$attr{ieee1394_id}"
KERNEL=="st*[0-9]|nst*[0-9]",		ENV{ID_SERIAL}!="?*", \
	SUBSYSTEMS=="usb", \
	IMPORT{program}="usb_id --export $devpath"

KERNEL=="st*[0-9]|nst*[0-9]",		ENV{ID_SERIAL}!="?*", \
	SUBSYSTEMS=="scsi", KERNELS=="[0-9]*:*[0-9]", \
	ENV{BSG_DEV}="$root/bsg/$id"
KERNEL=="st*[0-9]|nst*[0-9]",		ENV{ID_SERIAL}!="?*", \
	WAIT_FOR="$env{BSG_DEV}", \
	ENV{ID_BUS}="scsi", \
	IMPORT{program}="scsi_id --export --device=$env{BSG_DEV}"

KERNEL=="st*[0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="tape/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="nst*[0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="tape/by-id/$env{ID_BUS}-$env{ID_SERIAL}-nst"

KERNEL=="st*[0-9]|nst*[0-9]", \
	IMPORT{program}="path_id $devpath"
KERNEL=="st*[0-9]",			ENV{ID_PATH}=="?*", \
	SYMLINK+="tape/by-path/$env{ID_PATH}"
KERNEL=="nst*[0-9]",			ENV{ID_PATH}=="?*", \
	SYMLINK+="tape/by-path/$env{ID_PATH}-nst"

# end of processing
LABEL="persistent_storage_tape_end"

