[NetDev]
Name=erspan-test
Kind=erspan

[Tunnel]
Independent=true
ERSPANIndex=123
Local=172.16.1.200
Remote=172.16.1.100
Key=101
SerializeTunneledPackets=true
