[Unit]
Description=Honor First Shutdown feature
After=multi-user.target

[Service]
ExecStart=/home/test-honor-first-shutdown.sh
ExecStop=pkill -9 test.sh
FailureAction=reboot

[Install]
WantedBy=multi-user.target