*~
.deps/
.libs/
.dirstamp
Makefile.in
/aclocal.m4
*.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-*
/*.stamp
Makefile
/*.tar.xz
/systemadm
/systemd-gnome-ask-password-agent
