*.o
*.lo
*.la
.libs/
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config.guess
config.sub
libtool
ltmain.sh
install-sh
missing
configure
stamp-h1
depcomp
udev-test-install/
