Kay Sievers <kay@vrfy.org>
Kay Sievers <kay@vrfy.org> <kay.sievers@vrfy.org>
Kay Sievers <kay@vrfy.org> <kay.sievers@suse.de>
Kay Sievers <kay@vrfy.org> <kay@pim.off.vrfy.org>
Kay Sievers <kay@vrfy.org> <kay@pim>
Greg KH <greg@kroah.com>
Greg KH <greg@kroah.com> <greg@kroah.com>
Greg KH <greg@kroah.com> <greg@press.(none)>
Greg KH <greg@kroah.com> <gregkh@suse.de>
Harald Hoyer <harald@redhat.com>
David Zeuthen <david@fubar.dk>
David Zeuthen <david@fubar.dk> <davidz@redhat.com>
David Zeuthen <david@fubar.dk> <zeuthen@gmail.com>
Hannes Reinecke <hare@suse.de>
Scott James Remnant <scott@netsplit.com>
Scott James Remnant <scott@netsplit.com>  <scott@ubuntu.com>
Alan Jenkins <alan.christopher.jenkins@googlemail.com>
Alan Jenkins <alan.christopher.jenkins@googlemail.com> <alan-jenkins@tuffmail.co.uk>
Marco d'Itri <md@linux.it> <md@Linux.IT>
Robert Gerus <ar@bash.org.pl> Robert "arachnist" Gerus <ar@bash.org.pl>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl> Zbyszek Szmek <zbyszek@in.waw.pl>
Fabiano Fidêncio <fabianofidencio@gmail.com> Fabiano Fidencio <fidencio@profusion.mobi>
