Kay Sievers <kay@vrfy.org>
Kay Sievers <kay@vrfy.org> <kay.sievers@vrfy.org>
Kay Sievers <kay@vrfy.org> <kay.sievers@suse.de>
Kay Sievers <kay@vrfy.org> <kay@pim.off.vrfy.org>
Kay Sievers <kay@vrfy.org> <kay@pim>
Kay Sievers <kay@vrfy.org> <kay@yik.fritz.box>
Greg Kroah-Hartman <greg@kroah.com>
Greg Kroah-Hartman <greg@kroah.com> <greg@kroah.com>
Greg Kroah-Hartman <greg@kroah.com> <greg@press.(none)>
Greg Kroah-Hartman <greg@kroah.com> <gregkh@suse.de>
Greg Kroah-Hartman <greg@kroah.com> <greg@bucket.kroah.org>
Greg Kroah-Hartman <greg@kroah.com> <gregkh@linuxfoundation.org>
Harald Hoyer <harald@redhat.com>
David Zeuthen <david@fubar.dk>
David Zeuthen <david@fubar.dk> <davidz@redhat.com>
David Zeuthen <david@fubar.dk> <zeuthen@gmail.com>
Hannes Reinecke <hare@suse.de>
Scott James Remnant <scott@netsplit.com>
Scott James Remnant <scott@netsplit.com>  <scott@ubuntu.com>
Alan Jenkins <alan.christopher.jenkins@googlemail.com>
Alan Jenkins <alan.christopher.jenkins@googlemail.com> <alan-jenkins@tuffmail.co.uk>
Marco d'Itri <md@linux.it> <md@Linux.IT>
Robert Gerus <ar@bash.org.pl> Robert "arachnist" Gerus <ar@bash.org.pl>
Fabiano Fidêncio <fabianofidencio@gmail.com> Fabiano Fidencio <fidencio@profusion.mobi>
Martin Pitt <martinpitt@gnome.org>
Martin Pitt <martinpitt@gnome.org> <martin.pitt@ubuntu.com>
Daniel J Walsh <dwalsh@redhat.com>
Dave Reisner <dreisner@archlinux.org> <d@falconindy.com>
Diego Elio Pettenò <flameeyes@gmail.com>
Daniel Elstner  <daniel.kitta@gmail.com> <danielk@openismus.com>
Frederic Crozat <fcrozat@suse.com> <fcrozat@mandriva.com>
Ian Campbell <ijc@hellion.org.uk> <Ian.Campbell@citrix.com>
Jerone Young <jyoung@redhat.com> <jerone.young@canonical.com>
Luis Felipe Strano Moraes <luis.strano@gmail.com> <lfelipe@profusion.mobi>
Mario Limonciello <mario_limonciello@dell.com> <Mario_Limonciello@dell.com>
Matthias Clasen <mclasen@redhat.com> <matthias.clasen@gmail.com>
Michal Soltys <soltys@ziu.info> <nozo@ziu.info>
Piter PUNK <piterpunk@slackware.com> <piterpk@terra.com.br>
Richard Hughes <richard@hughsie.com> <hughsient@gmail.com>
Robby Workman <rw@rlworkman.net> <rworkman@slackware.com>
Shawn Landden <shawnlandden@gmail.com> <shawn@churchofgit.com>
Simon Peeters <peeters.simon@gmail.com>
Tobias Klauser <tklauser@distanz.ch> <tklauser@nuerscht.ch>
Miklos Vajna <vmiklos@frugalware.org> <vmiklos@gmail.com>
William Jon McCann <jmccann@redhat.com> <william.jon.mccann@gmail.com>
Yin Kangkai <kangkai.yin@intel.com> <kangkai.yin@linux.intel.com>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Lennart Poettering <lennart@poettering.net> <lennart@bf9bc1cc-28ce-0310-abfb-9041aa761afb>
Ananth N Mavinakayanahalli <ananth@in.ibm.com>
Ananth N Mavinakayanahalli <ananth@in.ibm.com> <ananthmg@rediffmail.com>
Ted Ts'o <tytso@mit.edu>
Tobias Klauser <tklauser@access.unizh.ch>
Tobias Klauser <tklauser@access.unizh.ch> <tklauser@access.unizh.chbk>
Tobias Klauser <tklauser@access.unizh.ch> <klauser@access.unizh.ch>
Tobias Klauser <tklauser@access.unizh.ch> <tklauser@distanz.ch>
Patrick Mansfield <patmans@us.ibm.com>
Christophe Varoqui <christophe.varoqui@free.fr>
Daniel Stekloff <dsteklof@us.ibm.com>
Michael Buesch <mbuesch@freenet.de>
Olaf Hering <olh@suse.de>
Robert Love <rml@tech9.net>
Arnd Bergmann <arnd@arndb.de>
Tom Rini <trini@kernel.crashing.org>
Paul Mundt <lethal@linux-sh.org>
Atul Sabharwal <atul.sabharwal@intel.com>
