# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=test1

[Network]
IPv6AcceptRA=no

[RoutingPolicyRule]
Priority=1500
L3MasterDevice=true

[RoutingPolicyRule]
Priority=2000
L3MasterDevice=true
Type=unreachable
