# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=router

[Network]
IPv6AcceptRA=no
IPv6SendRA=yes

[IPv6SendRA]
RouterPreference=high
EmitDNS=no
EmitDomains=no
HopLimit=42

[IPv6Prefix]
Prefix=2002:da8:1:99::/64
PreferredLifetimeSec=1000s
ValidLifetimeSec=2100s
