# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=bridge99

[Network]
IPv6AcceptRA=false

[BridgeVLAN]
PVID=1020
VLAN=1018-1023
VLAN=1200-1210
EgressUntagged=1022-1025
EgressUntagged=1203-1208
