#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Clear SysFail Entry If The Boot Is Successful
Documentation=man:systemd-boot-clear-sysfail.service(8)

DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target

ConditionPathExists=!/etc/initrd-release
# If LoaderSysFailReason is set we should not clear SysFail entry
ConditionPathExists=!/sys/firmware/efi/efivars/LoaderSysFailReason-4a67b082-0a4c-41cf-b6c7-440b29bb8c4f
ConditionPathExists=/sys/firmware/efi/efivars/LoaderEntrySysFail-4a67b082-0a4c-41cf-b6c7-440b29bb8c4f

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bootctl --graceful set-sysfail ""

[Install]
WantedBy=sysinit.target
