#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=/sbin/halt.local Compatibility
ConditionFileIsExecutable=/sbin/halt.local
DefaultDependencies=no
After=shutdown.target
Before=final.target

[Service]
Type=oneshot
ExecStart=/sbin/halt.local
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
