# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=veth99

[Network]
IPv6AcceptRA=no

[Address]
Address=192.168.100.11/24
DuplicateAddressDetection=ipv4
