# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=bridge-relay

[Network]
Address=192.168.2.1/24
DHCPServer=yes
IPv6AcceptRA=no

[DHCPServer]
RelayTarget=192.168.1.1
RelayAgentRemoteId=string:aabbccdd
