# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Name=erspan99
Kind=erspan

[Tunnel]
ERSPANVersion=0
# The three settings below will be ignored
ERSPANIndex=123
ERSPANDirection=ingress
ERSPANHardwareId=0x1f
Local = 172.16.1.200
Remote = 172.16.1.100
Key=101
SerializeTunneledPackets=true
