# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Name=gretap98
Kind=gretap

[Tunnel]
Local=any
Remote=10.65.223.239
Key=107
SerializeTunneledPackets=true
