# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=veth99

[Network]
IPv6AcceptRA=true

[IPv6AcceptRA]
UseDomains=yes
# just a random label which should exist
NetLabel=system_u:object_r:root_t:s0
