[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[TrafficControlQueueingDiscipline]
Parent=root
FairQueueTrafficPolicingPacketLimit=1000
FairQueueTrafficPolicingFlowLimit=200
FairQueueTrafficPolicingQuantum=1500
FairQueueTrafficPolicingInitialQuantum=13000
FairQueueTrafficPolicingMaximumRate=1M
FairQueueTrafficPolicingBuckets=512
FairQueueTrafficPolicingOrphanMask=511
FairQueueTrafficPolicingPacing=yes
FairQueueTrafficPolicingCEThresholdSec=100ms

[TrafficControlQueueingDiscipline]
Parent=clsact
ControlledDelayPacketLimit=2000
ControlledDelayTargetSec=10ms
ControlledDelayIntervalSec=50ms
ControlledDelayECN=yes
ControlledDelayCEThresholdSec=100ms
