[Match]
Name=test1

[Network]
IPv6AcceptRA=no
Address=10.1.2.4/16

[TrafficControlQueueingDiscipline]
Parent=root
TokenBufferFilterRate=1G
TokenBufferFilterBurst=5K
TokenBufferFilterLatencySec=70msec
TokenBufferFilterPeakRate=100G
TokenBufferFilterMTUBytes=1M

[TrafficControlQueueingDiscipline]
Parent=clsact
StochasticFairnessQueueingPerturbPeriodSec=5sec
