[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[TrafficControlQueueingDiscipline]
Parent=root
NetworkEmulatorDelaySec=50ms
NetworkEmulatorDelayJitterSec=10ms
NetworkEmulatorLossRate=20%
NetworkEmulatorPacketLimit=100

[TrafficControlQueueingDiscipline]
Parent=ingress
FairQueuingControlledDelayPacketLimit=20480
FairQueuingControlledDelayMemoryLimit=64M
FairQueuingControlledDelayFlows=2048
FairQueuingControlledDelayTargetSec=10ms
FairQueuingControlledDelayIntervalSec=200ms
FairQueuingControlledDelayQuantum=1400
FairQueuingControlledDelayECN=yes
FairQueuingControlledDelayCEThresholdSec=100ms
