# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[StochasticFairnessQueueing]
Parent=root
Handle=0036
PerturbPeriodSec=5sec
