[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[TrivialLinkEqualizer]
Parent=ingress
Id=1

[HierarchyTokenBucket]
Parent=root
Handle=0002
DefaultClass=30
