[Match]
Name=test1

[Network]
IPv6AcceptRA=no
Address=10.1.2.4/16

[QuickFairQueueing]
Parent=root
Handle=0002

[QuickFairQueueingClass]
Parent=root
ClassId=0002:0030
Weight=2
MaxPacketBytes=16000

[QuickFairQueueingClass]
Parent=root
ClassId=0002:0031
Weight=10
MaxPacketBytes=8000
