# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Address=10.1.2.3/16

[HierarchyTokenBucket]
Parent=root
Handle=0002
DefaultClass=30
RateToQuantum=20

[HierarchyTokenBucketClass]
Parent=root
ClassId=0002:0037
Priority=1
Rate=1M
CeilRate=0.5M
QuantumBytes=4000
MTUBytes=1700
OverheadBytes=100
BufferBytes=123456
CeilBufferBytes=123457

[PFIFO]
Parent=2:37
Handle=0037
PacketLimit=100000

[HierarchyTokenBucketClass]
Parent=root
ClassId=0002:003a
Priority=1
Rate=1M
CeilRate=0.5M

[BFIFO]
Parent=2:3a
Handle=003a
LimitBytes=1000000

[HierarchyTokenBucketClass]
Parent=root
ClassId=0002:003b
Priority=1
Rate=1M
CeilRate=0.5M

[PFIFOHeadDrop]
Parent=2:3b
Handle=003b
PacketLimit=1023

[HierarchyTokenBucketClass]
Parent=root
ClassId=0002:003c
Priority=1
Rate=1M
CeilRate=0.5M

[PFIFOFast]
Parent=2:3c
Handle=003c
