# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
ConfigureWithoutCarrier=false

[Link]
RequiredForOnline=false
ActivationPolicy=up

[Address]
Address=2000:f00::227/64
AddPrefixRoute=false

[Route]
Destination=2000:f00::/64
PreferredSource=2000:f00::227
Metric=128
Table=249

[Route]
Gateway=2000:f00::1
GatewayOnLink=true
PreferredSource=2000:f00::227
Metric=128
Table=249

[RoutingPolicyRule]
From=2000:f00::227
Table=249

[Address]
Address=192.168.0.227/26
AddPrefixRoute=false

[Route]
Destination=192.168.0.192/26
PreferredSource=192.168.0.227
Metric=128
Table=249

[Route]
Gateway=192.168.0.193
GatewayOnLink=true
PreferredSource=192.168.0.227
Metric=128
Table=249

[RoutingPolicyRule]
From=192.168.0.227
Table=249

[Route]
Destination=192.168.0.193
PreferredSource=192.168.0.227
Metric=128

[Route]
Destination=192.168.0.72
PreferredSource=192.168.0.227
Gateway=192.168.0.193
GatewayOnLink=true
Metric=128

[Route]
Destination=10.1.2.2
PreferredSource=192.168.0.227
Gateway=192.168.0.193
GatewayOnLink=true
Metric=128
