# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=test1

[Network]
IPv6AcceptRA=no

[RoutingPolicyRule]
TypeOfService=0x08
Table=7
From= 192.168.100.18
Priority=111
IncomingInterface=test1
OutgoingInterface=test1

[RoutingPolicyRule]
IncomingInterface=test1
From=::/0
Table=8
Priority=100
Family=ipv6

[RoutingPolicyRule]
IncomingInterface=test1
Table=9
Priority=101
Family=both

[RoutingPolicyRule]
Type=table
IncomingInterface=test1
From=0.0.0.0/8
Table=10
Priority=102

[RoutingPolicyRule]
Type=goto
IncomingInterface=test1
From=10.0.0.0/16
Priority=103
GoTo=111
Table=11

[RoutingPolicyRule]
Type=nop
IncomingInterface=test1
From=10.1.0.0/16
Priority=104
Table=12
