# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Name=veth97
Kind=veth
MACAddress=12:34:56:78:9a:ce

[Peer]
Name=veth97-peer
MACAddress=12:34:56:78:9a:cf
