# SPDX-License-Identifier: LGPL-2.1-or-later
[NetDev]
Name=veth99
Kind=veth
MACAddress=12:34:56:78:9a:bc

[Peer]
Name=veth-peer
MACAddress=12:34:56:78:9a:bd
