# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=wg98

[Network]
Address=192.168.123.123/24
Address=fd8d:4d6d:3ccb:0500::1/64
IPv6AcceptRA=no
