# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=test1

[Network]
IPv6AcceptRA=no
Bridge=bridge99

[BridgeMDB]
VLANId=4064
MulticastGroupAddress=ff02:aaaa:fee5:0000:0000:0000:0001:0003

[BridgeMDB]
VLANId=4065
MulticastGroupAddress=224.0.1.1
