[Match]
Name=bridge99

[Network]
IPv6AcceptRA=false

[BridgeMDB]
VLANId=4066
MulticastGroupAddress=ff02:aaaa:fee5:0000:0000:0000:0001:0004

[BridgeMDB]
VLANId=4067
MulticastGroupAddress=224.0.1.2
