[Match]
Name=veth99

[Network]
DHCP=ipv4
IPv6AcceptRA=false

[DHCPv4]
Anonymize=true
UseMTU=true
UseRoutes=true
SendHostname=true
UseHostname=true
Hostname=test-hostname
ClientIdentifier=mac
VendorClassIdentifier=SusantVendorTest
