# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Network]
IPv6AcceptRA=no
Tunnel=ip6gretun99
Tunnel=ip6gretun98
Tunnel=ip6gretun97
Tunnel=ip6gretun96
