[Match]
Name=veth-peer

[Network]
DHCP=no
IPv6AcceptRA=yes

[IPv6AcceptRA]
# PrefixDenyList= and RouteDenyList= will be ignored.
PrefixAllowList=2001:db8:0:1:: 2001:db8:0:1::
PrefixDenyList=2001:db8:0:1:: 2001:db8:0:1::
RouteAllowList=2001:db0:fff:: 2001:db0:fff::
RouteDenyList=2001:db0:fff:: 2001:db0:fff::
