[Match]
Name=ipvlan99
Name=ipvtap99
Name=macvlan99
Name=macvtap99
Name=veth99
Name=veth-peer
Name=vcan99
Name=vxcan99
Name=vxcan-peer
Name=vrf99
Name=geneve99
Name=ipiptun99
Name=nlmon99
Name=xfrm99

[Network]
LinkLocalAddressing=yes
IPv6AcceptRA=no
