# SPDX-License-Identifier: LGPL-2.1-or-later
[Match]
Name=dummy98

[Link]
RequiredForOnline=routable
RequiredFamilyForOnline=both

[Network]
IPv6AcceptRA=no
DNS=10.10.10.10#aaa.com 10.10.10.11:1111#bbb.com [1111:2222::3333]:1234#ccc.com
NTP=0.fedora.pool.ntp.org 1.fedora.pool.ntp.org
Domains=hogehoge ~foofoo
LLMNR=no
MulticastDNS=yes
DNSSEC=no
Address=192.168.10.10/24
Address=192.168.12.12/24
Address=2002:da8:1:0:1034:56ff:fe78:9abc/64
