# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=This unit should not remain active once the shell process exits

[Service]
Type=oneshot
ExecStart=sh -c 'sleep infinity & exit 0'
