#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Halt
DefaultDependencies=no
Requires=shutdown.target umount.target
After=shutdown.target umount.target

[Service]
Type=finish
ValidNoProcess=yes
Environment=RUNLEVEL=0
ExecStart=/etc/rc.shutdown
StandardInput=tty
