[Unit]
Description=Service that never leaves state ACTIVATING
Requires=always-activating.socket
After=always-activating.socket

[Service]
Type=notify
ExecStart=bash -c 'sleep infinity'
