#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Session services which should run early before the graphical session is brought up
Documentation=man:systemd.special(7)
Requires=basic.target
Before=graphical-session.target
RefuseManualStart=yes
StopWhenUnneeded=yes
