[Meta]
Description=Syslog Socket

[Socket]
ListenDatagram=/tmp/foobar/waldo/systemd-syslog-socket
ListenStream=eth0:3456
DirectoryMode=0700
SocketMode=0400
