[Meta]
Description=systemd Logging Socket

[Socket]
ExecStartPre=/bin/rm /tmp/systemd-logger
ListenStream==/systemd/logger
ListenStream=/tmp/systemd-logger
