# SPDX-License-Identifier: MIT-0
#
# This config file is installed as part of systemd.
# It may be freely copied and edited (following the MIT No Attribution license).
#
# To make local modifications, one of the following methods may be used:
# 1. add a drop-in file that extends this file by creating the
#    /etc/systemd/network/80-container-vb.network.d/ directory and creating a
#    new .conf file there.
# 2. copy this file into /etc/systemd/network or one of the other paths checked
#    by systemd-networkd and edit it there.
# This file should not be edited in place, because it'll be overwritten on upgrades.

# This network file matches the host-side of the virtual Ethernet link
# created by systemd-nspawn's --network-veth switch with --network-bridge or
# --network-zone switch. See systemd-nspawn(1) for details.

[Match]
Kind=veth
Name=vb-*

[Network]
KeepMaster=yes
LinkLocalAddressing=no
LLDP=yes
EmitLLDP=nearest-bridge
