# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test RestrictNamespaces=no

[Service]
RestrictNamespaces=no
ExecStart=unshare -m -u -i -n -p -f
Type=oneshot
