[Unit]
Description=Test for TemporaryFileSystem in read-only mode

[Service]
Type=oneshot

# Check directories exist
ExecStart=/bin/sh -c 'test -d /var/tmp'

# Check TemporaryFileSystem= is empty
ExecStart=/bin/sh -c 'for i in $$(ls -A /var); do test $$i = tmp || false; done'

# Cannot create a file in /var
ExecStart=/bin/sh -c '! touch /var/hoge'

# Create a file in /var/tmp
ExecStart=/bin/sh -c 'touch /var/tmp/thisisasimpletest-temporaryfilesystem-ro'

# Cleanup
ExecStart=/bin/sh -c 'rm /var/tmp/thisisasimpletest-temporaryfilesystem-ro'

TemporaryFileSystem=/var:ro
ReadWritePaths=/var/tmp
