# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test RestrictNamespaces=yes

[Service]
RestrictNamespaces=yes
ExecStart=unshare -m
Type=oneshot
