[Unit]
Description=Test CAP_SYSLOG for ProtectKernelLogs=no

[Service]
ProtectKernelLogs=no
# sed: remove dropped capabilities (cap_xxx-[epi]) from the output
ExecStart=/bin/sh -x -c 'capsh --print | sed -r "s/[^ ]+?\-[epi]+//g" | grep cap_syslog'
Type=oneshot
