# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test no_new_privs is unset for SystemCallFilter and non-root user

[Service]
ExecStart=/bin/sh -x -c 'capsh --print | grep -q "no-new-privs=0"'
Type=oneshot
User=1
ProtectClock=yes
