[Unit]
Description=Test CAP_SYS_RAWIO capability for PrivateDevices=yes

[Service]
PrivateDevices=yes
ExecStart=/bin/sh -x -c '! capsh --print | grep cap_sys_rawio'
Type=oneshot
