# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test DynamicUser with static User= whose uid and gid are different
# On Fedora, user adm has uid==3 and gid==4.

[Service]
Type=oneshot
ExecStart=sh -x -c 'test "$$(id -nG)" = "adm" && test "$$(id -ng)" = "adm" && test "$$(id -nu)" = "adm"'
# Multiple ExecStart= lines causes the issue #9702.
ExecStart=sh -x -c 'test "$$(id -nG)" = "adm" && test "$$(id -ng)" = "adm" && test "$$(id -nu)" = "adm"'
DynamicUser=yes
User=adm
ReadWritePaths=-/coverage
