# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for SystemCallFilter without @network-io

[Service]
ExecStart=true
Type=oneshot
# For issue #33299
SystemCallFilter=~@network-io
