# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for basic execution
ConditionKernelVersion=">=3.0"
ConditionKernelVersion=">=2.0" "<=60" "!=1.4"
ConditionKernelVersion=" >= 2.0" " <= 60 " "!= 1.4"
ConditionKernelVersion=" >= 2.0" " * " "*.*"

[Service]
ExecStart=touch /tmp/a ; /bin/sh -c 'touch /tmp/b' ; touch /tmp/c
ExecStart=test -f /tmp/a
ExecStart=!test -f /tmp/b
ExecStart=!!test -f /tmp/c
ExecStartPost=rm /tmp/a /tmp/b /tmp/c

PrivateTmp=true
Type=oneshot
