# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test merging RestrictNamespaces= with AND

[Service]
RestrictNamespaces=mnt pid
RestrictNamespaces=~mnt usr
ExecStart=unshare -p -f
ExecStart=sh -c '! unshare -m -u -i -n'
Type=oneshot
