# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test CAP_SYS_RAWIO capability for PrivateDevices=no

[Service]
PrivateDevices=no
# sed: remove dropped (cap_xxx-[epi]) and IAB capabilities from the output
ExecStart=/bin/sh -x -c 'capsh --print | sed -re "s/[^ ]+?\-[epi]+//g" -e '/IAB/d' | grep cap_sys_rawio'
Type=oneshot
