[Unit]
Description=Test CAP_MKNOD capability for PrivateDevices=no

[Service]
PrivateDevices=no
# sed: remove dropped capabilities (cap_xxx-[epi]) from the output
ExecStart=/bin/sh -x -c 'capsh --print | sed -r "s/[^ ]+?\-[epi]+//g" | grep cap_mknod'
Type=oneshot
