# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for Personality=s390

[Service]
ExecStart=/bin/sh -x -c 'c=$$(uname -m); test "$$c" = "s390"'
Type=oneshot
Personality=s390
