# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for Supplementary Group with multiple groups and Uid=1

[Service]
ExecStart=/bin/sh -x -c 'for g in $$(id -G); do test "$$g" = "1" && exit 0; done; exit 1'
ExecStart=/bin/sh -x -c 'for g in $$(id -G); do test "$$g" = "2" && exit 0; done; exit 1'
Type=oneshot
User=1
SupplementaryGroups=1 2
