[Unit]
Description=Test to make sure that mount namespace setup works properly with the 'InaccessiblePaths=/proc' option

[Service]
InaccessiblePaths=/sys
ExecStart=/bin/sh -x -c 'test "$$(stat -c %%a /sys)" = "0"'
Type=oneshot
