# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for CPUAffinity (reset)

[Service]
ExecStart=sh -c 'test $$(cat /proc/self/status | grep Cpus_allowed: | rev | cut -c 1) = 1'
CPUAffinity=0-1 3
CPUAffinity=
CPUAffinity=0
