[Unit]
Description=Test for PassEnvironment with variables absent from the execution environment

[Service]
ExecStart=/bin/sh -x -c 'test "$${VAR1-unset}" = "unset" && test "$${VAR2-unset}" = "unset" && test "$${VAR3-unset}" = "unset"'
Type=oneshot
PassEnvironment=VAR1 VAR2 VAR3
