# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test no_new_privs is unset for ProtectClock and non-root user

[Service]
ExecStart=sh -x -c 'c=$$(cat /proc/self/status | grep "NoNewPrivs:	"); test "$$c" = "NoNewPrivs:	0"'
Type=oneshot
User=1
ProtectClock=yes
