# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for CapabilityBoundingSet

[Service]
ExecStart=sh -x -c 'c=$$(capsh --print | grep "Bounding set "); test "$$c" = "Bounding set =cap_fowner,cap_kill"'
Type=oneshot
CapabilityBoundingSet=CAP_FOWNER CAP_KILL
