# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for RuntimeDirectory owner (must not be the default group of the user if Group is set)

[Service]
ExecStart=/bin/sh -x -c 'group=$$(stat -c %%G %t/test-exec_runtimedirectory-owner); test "$$group" = "nfsnobody"'
Type=oneshot
Group=nfsnobody
User=root
RuntimeDirectory=test-exec_runtimedirectory-owner
