# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test ProtectHome=tmpfs vs ProtectSystem=strict
# Test for #11276

[Service]
ProtectHome=tmpfs
ProtectSystem=strict
Type=oneshot
ExecStart=sh -x -c 'test "$$(stat -fc %%T /home)" = "tmpfs"'
