# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for StandardInput=file:

[Service]
ExecStart=/usr/bin/cmp /usr/bin/cmp
Type=oneshot
StandardInput=file:/usr/bin/cmp
