[Unit]
Description=Test for Supplementary Group with multiple groups and Group=1

[Service]
ExecStart=/bin/sh -x -c 'test " $$(id -G) " = *" 1 2 3 "* && test "$$(id -g)" = "1" && test "$$(id -u)" = "0"'
Type=oneshot
Group=1
SupplementaryGroups=1 2 3
