# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for IOSchedulingClass=best-effort

[Service]
ExecStart=sh -x -c 'c=$$(LC_ALL=C ionice); test "$${c%%:*}" = "best-effort"'
Type=oneshot
IOSchedulingClass=best-effort
