# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=https://github.com/systemd/systemd/issues/2637

[Service]
Type=oneshot
ExecStart=/bin/sh -x -c "! test -x perl || perl -e 'exit(!(qq{%%U} eq qq{\\x25U}))'"
