# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for Supplementary Group with only one group

[Service]
ExecStart=sh -x -c 'for g in $$(id -G); do test "$$g" = "1" && exit 0; done; exit 1'
ExecStart=sh -x -c 'test "$$(id -g)" = "1" && test "$$(id -u)" = "0"'
Type=oneshot
Group=1
SupplementaryGroups=1
