# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for SystemCallFilter

[Service]
ExecStart=sh -c 'echo "Foo bar"'
Type=oneshot
SystemCallFilter=
