[Unit]
Description=Test for Supplementary Group with only one group

[Service]
ExecStart=/bin/sh -x -c 'test "$$(id -g)" = "1" && test "$$(id -u)" = "0" && ! id -G | grep 0'
Type=oneshot
Group=1
SupplementaryGroups=1
