# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for LoadCredential=

[Service]
ExecStart=bash -x -c 'test "$$(cat %d/test-execute.load-credential)" = "foo"'
ExecStartPost=bash -x -c 'test "$$(cat %d/test-execute.load-credential)" = "foo"'
ExecStop=bash -x -c 'test "$$(cat %d/test-execute.load-credential)" = "foo"'
ExecStopPost=bash -x -c 'test "$$(cat %d/test-execute.load-credential)" = "foo"'
Type=oneshot
LoadCredential=test-execute.load-credential
