# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for PrivateDevices=yes with prefix

[Service]
ExecStart=sh -x -c '! test -c /dev/kmsg'
ExecStart=+/bin/sh -x -c 'test -c /dev/kmsg'
Type=oneshot
PrivateDevices=yes
