# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for Personality=x86

[Service]
ExecStart=/bin/sh -x -c 'c=$$(uname -m); test "$$c" = "i686" -o "$$c" = "x86_64"'
Type=oneshot
Personality=x86
