# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for PrivateDevices=no

[Service]
ExecStart=sh -x -c 'test -c /dev/kmsg'
Type=oneshot
PrivateDevices=no
