[Unit]
Description=Test for PrivateNetwork

[Service]
ExecStart=/bin/sh -x -c '! ip link | grep ": " | grep -Ev ": (lo|(sit0|ip6tnl0|ip6gre0)@.*):"'
Type=oneshot
PrivateNetwork=yes
