# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Test for Group

[Service]
ExecStart=sh -x -c 'test "$$(id -n -g)" = "nogroup"'
Type=oneshot
Group=nogroup
