version.h
rc-status
rc-service
rc-update
runscript
service
start-stop-daemon
supervise-daemon
einfon
einfo
ewarnn
ewarn
eerrorn
eerror
ebegin
eend
ewend
eindent
eoutdent
esyslog
eval_ecolors
ewaitfile
veinfo
vewarn
vebegin
veend
vewend
veindent
veoutdent
service_starting
service_started
service_stopping
service_stopped
service_inactive
service_wasinactive
service_hotplugged
service_started_daemon
service_crashed
checkpath
fstabinfo
mountinfo
swclock
rc-depend
service_get_value
service_set_value
get_options
save_options
shell_var
is_newer_than
is_older_than
mark_service_starting
mark_service_started
mark_service_stopping
mark_service_stopped
mark_service_inactive
mark_service_wasinactive
mark_service_hotplugged
mark_service_failed
rc-abort
rc
openrc
openrc-init
openrc-run
openrc-shutdown
kill_all
