# SPDX-License-Identifier: LGPL-2.1-or-later
template(`systemd_test_base_template', `
	gen_require(`
		attribute systemd_test_domain_type;
	')

	type $1_t, systemd_test_domain_type;
	domain_type($1_t)
')
