# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
ConditionPathExists=/tmp/nonexistent

[Service]
ExecStartPre=sh -c 'test "$TRIGGER_REASON" = /tmp/test63'
ExecStart=true
