[Unit]
Description=Testsuite service
After=systemd-tmpfiles-setup.service
Before=getty-pre.target
Wants=getty-pre.target

[Service]
WorkingDirectory=/testsuite
ExecStart=/testsuite/run-tmpfiles-tests.sh
Type=oneshot
StandardOutput=tty
StandardError=tty
