# SPDX-License-Identifier: LGPL-2.1-or-later

[D-BUS Service]
Name=org.freedesktop.home1
Exec=/bin/false
User=root
SystemdService=dbus-org.freedesktop.home1.service
