// SPDX-License-Identifier: LGPL-2.1-or-later
//
// This file is part of systemd.
//
// systemd is free software; you can redistribute it and/or modify it
// under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation; either version 2.1 of the License, or
// (at your option) any later version.

// Allow the root user to ignore inhibitors when calling reboot etc.
//
// This example rule can be enabled by symlinking this file to
// /etc/polkit-1/rules.d/10-systemd-logind-root-ignore-inhibitors.rules
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.login1.power-off-ignore-inhibit" ||
         action.id == "org.freedesktop.login1.reboot-ignore-inhibit" ||
         action.id == "org.freedesktop.login1.halt-ignore-inhibit" ||
         action.id == "org.freedesktop.login1.suspend-ignore-inhibit" ||
         action.id == "org.freedesktop.login1.hibernate-ignore-inhibit") &&
	subject.user == "root") {

	return polkit.Result.YES;
    }
});
