[Bridge]
Cost=
UseBPDU=
HairPin=
UnicastFlood=
FastLeave=
Priority=
AllowPortToBeRoot=
MulticastToUnicast=
MulticastFlood=
NeighborSuppression=
Learning=
ProxyARP=
ProxyARPWiFi=
MulticastRouter=
[Match]
KernelVersion=
Type=
Driver=
Architecture=
Path=
WLANInterfaceType=
SSID=
BSSID=
Name=
Property=
Virtualization=
KernelCommandLine=
Host=
MACAddress=
PermanentMACAddress=
[Link]
ActivationPolicy=
RequiredForOnline=
ARP=
AllMulticast=
Unmanaged=
MTUBytes=
Multicast=
MACAddress=
Group=
Promiscuous=
[SR-IOV]
VirtualFunction=
MACSpoofCheck=
VLANId=
VLANProtocol=
QualityOfService=
QueryReceiveSideScaling=
Trust=
LinkState=
MACAddress=
[BridgeFDB]
VLANId=
MACAddress=
Destination=
VNI=
AssociatedWith=
[BridgeMDB]
MulticastGroupAddress=
VLANId=
[DHCP]
UseDomains=
UseRoutes=
IAID=
UserClass=
UseNTP=
RapidCommit=
ForceDHCPv6PDOtherInformation=
UseMTU=
UseDomainName=
RouteMetric=
SendHostname=
Anonymize=
VendorClassIdentifier=
Hostname=
DUIDType=
UseHostname=
UseDNS=
CriticalConnection=
DUIDRawData=
RequestBroadcast=
ClientIdentifier=
ListenPort=
UseTimezone=
RouteTable=
[DHCPv4]
UseDNS=
RoutesToDNS=
UseDomains=
UseRoutes=
UseGateway=
IAID=
UserClass=
UseNTP=
UseSIP=
UseMTU=
UseDomainName=
RouteMetric=
SendHostname=
Anonymize=
VendorClassIdentifier=
Hostname=
DUIDType=
UseHostname=
CriticalConnection=
DUIDRawData=
RequestBroadcast=
ClientIdentifier=
ListenPort=
UseTimezone=
RouteTable=
DenyList=
BlackList=
AllowList=
RequestOptions=
SendRelease=
MaxAttempts=
IPServiceType=
SendOption=
SendVendorOption=
SendDecline=
MUDURL=
RouteMTUBytes=
FallbackLeaseLifetimeSec=
[DHCPv6]
UseAddress=
UseNTP=
UseDNS=
UseHostname=
RapidCommit=
ForceDHCPv6PDOtherInformation=
PrefixDelegationHint=
WithoutRA=
MUDURL=
SendOption=
RequestOptions=
UserClass=
VendorClass=
SendVendorOption=
RouteMetric=
[DHCPv6PrefixDelegation]
SubnetId=
Announce=
Assign=
ManageTemporaryAddress=
Token=
[Route]
Destination=
Protocol=
Table=
Gateway=
InitialAdvertisedReceiveWindow=
GatewayOnLink=
GatewayOnlink=
Type=
InitialCongestionWindow=
IPv6Preference=
PreferredSource=
Scope=
MTUBytes=
QuickAck=
FastOpenNoCookie=
Source=
Metric=
TTLPropagate=
MultiPathRoute=
TCPAdvertisedMaximumSegmentSize=
NextHop=
[Network]
IPv6DuplicateAddressDetection=
IPMasquerade=
ProxyARP=
PrimarySlave=
IPv4LLRoute=
DefaultRouteOnDevice=
Address=
IPv6ProxyNDPAddress=
IPv6AcceptRA=
IPv6AcceptRouterAdvertisements=
IPv4AcceptLocal=
IPv4RouteLocalnet=
DNSSECNegativeTrustAnchors=
MACVTAP=
IPv6PrivacyExtensions=
MACVLAN=
MulticastDNS=
LLDP=
Tunnel=
Gateway=
IPv4LL=
IPVLAN=
IPVTAP=
EmitLLDP=
IPv6MTUBytes=
IPv4ProxyARP=
Bridge=
DNSOverTLS=
Bond=
IPv6ProxyNDP=
DNS=
DNSDefaultRoute=
ActiveSlave=
LLMNR=
DNSSEC=
IPv6HopLimit=
IPForward=
IPv6Token=
Xfrm=
Description=
VXLAN=
L2TP=
MACsec=
LinkLocalAddressing=
IPv6LinkLocalAddressGenerationMode=
ConfigureWithoutCarrier=
NTP=
DHCP=
Domains=
IPv6SendRA=
IPv6PrefixDelegation=
VLAN=
DHCPServer=
BindCarrier=
VRF=
IgnoreCarrierLoss=
KeepConfiguration=
DHCPv6PrefixDelegation=
BatmanAdvanced=
[IPv6Prefix]
Prefix=
OnLink=
PreferredLifetimeSec=
AddressAutoconfiguration=
ValidLifetimeSec=
Assign=
[IPv6RoutePrefix]
Route=
LifetimeSec=
[BridgeVLAN]
EgressUntagged=
VLAN=
PVID=
[LLDP]
MUDURL=
[CAN]
SamplePoint=
BitRate=
DataSamplePoint=
DataBitRate=
FDMode=
FDNonISO=
RestartSec=
TripleSampling=
BusErrorReporting=
Termination=
ListenOnly=
[Address]
DuplicateAddressDetection=
AutoJoin=
PreferredLifetime=
Address=
Scope=
HomeAddress=
PrefixRoute=
AddPrefixRoute=
ManageTemporaryAddress=
Broadcast=
Peer=
Label=
[RoutingPolicyRule]
Table=
IncomingInterface=
To=
OutgoingInterface=
From=
TypeOfService=
Priority=
FirewallMark=
SourcePort=
DestinationPort=
IPProtocol=
InvertRule=
Family=
SuppressPrefixLength=
User=
Type=
[IPv6SendRA]
RouterPreference=
DNSLifetimeSec=
DNS=
RouterLifetimeSec=
Domains=
EmitDNS=
EmitDomains=
Managed=
OtherInformation=
[IPv6PrefixDelegation]
RouterPreference=
DNSLifetimeSec=
DNS=
RouterLifetimeSec=
Domains=
EmitDNS=
EmitDomains=
Managed=
OtherInformation=
[Neighbor]
Address=
LinkLayerAddress=
MACAddress=
[IPv6AddressLabel]
Label=
Prefix=
[IPv6AcceptRA]
UseDomains=
RouteTable=
UseDNS=
DHCPv6Client=
UseAutonomousPrefix=
UseOnLinkPrefix=
RouterAllowList=
RouterDenyList=
PrefixAllowList=
PrefixDenyList=
RouteAllowList=
RouteDenyList=
DenyList=
BlackList=
[DHCPServer]
EmitNTP=
PoolSize=
PoolOffset=
Timezone=
EmitDNS=
NTP=
EmitSIP=
SIP=
EmitPOP3=
POP3=
EmitSMTP=
SMTP=
EmitLPR=
LPR=
EmitRouter=
MaxLeaseTimeSec=
DefaultLeaseTimeSec=
EmitTimezone=
DNS=
SendOption=
SendVendorOption=
[NextHop]
Id=
Gateway=
Family=
OnLink=
Blackhole=
[QDisc]
Parent=
Handle=
[NetworkEmulator]
Parent=
Handle=
DelaySec=
DelayJitterSec=
LossRate=
DuplicateRate=
PacketLimit=
[TokenBucketFilter]
Parent=
Handle=
Rate=
BurstBytes=
Burst=
LimitBytes=
LimitSize=
MTUBytes=
MPUBytes=
PeakRate=
LatencySec=
[StochasticFairnessQueueing]
Parent=
Handle=
PerturbPeriodSec=
[FairQueueingControlledDelay]
Parent=
Handle=
PacketLimit=
MemoryLimitBytes=
MemoryLimit=
Flows=
QuantumBytes=
Quantum=
TargetSec=
IntervalSec=
CEThresholdSec=
ECN=
[FairQueueing]
Parent=
Handle=
PacketLimit=
FlowLimit=
QuantumBytes=
Quantum=
InitialQuantumBytes=
InitialQuantum=
MaximumRate=
Buckets=
OrphanMask=
Pacing=
CEThresholdSec=
[ControlledDelay]
Parent=
Handle=
PacketLimit=
TargetSec=
IntervalSec=
CEThresholdSec=
ECN=
[CAKE]
Parent=
Handle=
Bandwidth=
OverheadBytes=
[TrafficControlQueueingDiscipline]
Parent=
NetworkEmulatorDelaySec=
NetworkEmulatorDelayJitterSec=
NetworkEmulatorLossRate=
NetworkEmulatorDuplicateRate=
NetworkEmulatorPacketLimit=
[TrivialLinkEqualizer]
Parent=
Handle=
Id=
[HierarchyTokenBucket]
Parent=
Handle=
DefaultClass=
RateToQuantum=
[HierarchyTokenBucketClass]
Parent=
ClassId=
Priority=
QuantumBytes=
MTUBytes=
OverheadBytes=
Rate=
CeilRate=
BufferBytes=
CeilBufferBytes=
[BFIFO]
Parent=
Handle=
LimitBytes=
[PFIFO]
Parent=
Handle=
PacketLimit=
[PFIFOHeadDrop]
Parent=
Handle=
PacketLimit=
[PFIFOFast]
Parent=
Handle=
[GenericRandomEarlyDetection]
Parent=
Handle=
VirtualQueues=
DefaultVirtualQueue=
GenericRIO=
[StochasticFairBlue]
Parent=
Handle=
PacketLimit=
[PIE]
Parent=
Handle=
PacketLimit=
[QuickFairQueueing]
Parent=
Handle=
[QuickFairQueueingClass]
Parent=
ClassId=
Weight=
MaxPacketBytes=
[DeficitRoundRobinScheduler]
Parent=
Handle=
[DeficitRoundRobinSchedulerClass]
Parent=
ClassId=
QuantumBytes=
[EnhancedTransmissionSelection]
Parent=
Handle=
Bands=
StrictBands=
QuantumBytes=
PriorityMap=
[HeavyHitterFilter]
Parent=
Handle=
PacketLimit=
[FlowQueuePIE]
Parent=
Handle=
PacketLimit=
