[Bridge]
Cost=
UseBPDU=
HairPin=
UnicastFlood=
FastLeave=
Priority=
AllowPortToBeRoot=
MulticastToUnicast=
MulticastFlood=
NeighborSuppression=
Learning=
ProxyARP=
ProxyARPWiFi=
MulticastRouter=
[Match]
KernelVersion=
Type=
Driver=
Architecture=
Path=
WLANInterfaceType=
SSID=
BSSID=
Name=
Property=
Virtualization=
KernelCommandLine=
Host=
MACAddress=
PermanentMACAddress=
[Link]
RequiredForOnline=
ARP=
AllMulticast=
Unmanaged=
MTUBytes=
Multicast=
MACAddress=
[BridgeFDB]
VLANId=
MACAddress=
Destination=
VNI=
AssociatedWith=
[DHCP]
UseDomains=
UseRoutes=
IAID=
UserClass=
UseNTP=
RapidCommit=
ForceDHCPv6PDOtherInformation=
UseMTU=
UseDomainName=
RouteMetric=
SendHostname=
Anonymize=
VendorClassIdentifier=
Hostname=
DUIDType=
UseHostname=
UseDNS=
CriticalConnection=
DUIDRawData=
RequestBroadcast=
ClientIdentifier=
ListenPort=
UseTimezone=
RouteTable=
[DHCPv4]
UseDNS=
RoutesToDNS=
UseDomains=
UseRoutes=
UseGateway=
IAID=
UserClass=
UseNTP=
UseSIP=
UseMTU=
UseDomainName=
RouteMetric=
SendHostname=
Anonymize=
VendorClassIdentifier=
Hostname=
DUIDType=
UseHostname=
CriticalConnection=
DUIDRawData=
RequestBroadcast=
ClientIdentifier=
ListenPort=
UseTimezone=
RouteTable=
BlackList=
RequestOptions=
SendRelease=
MaxAttempts=
IPServiceType=
SendOption=
SendVendorOption=
SendDecline=
MUDURL=
RouteMTUBytes=
[DHCPv6]
UseNTP=
UseDNS=
RapidCommit=
ForceDHCPv6PDOtherInformation=
PrefixDelegationHint=
WithoutRA=
MUDURL=
[Route]
Destination=
Protocol=
Table=
Gateway=
InitialAdvertisedReceiveWindow=
GatewayOnLink=
GatewayOnlink=
Type=
InitialCongestionWindow=
IPv6Preference=
PreferredSource=
Scope=
MTUBytes=
QuickAck=
FastOpenNoCookie=
Source=
Metric=
TTLPropagate=
MultiPathRoute=
[Network]
IPv6DuplicateAddressDetection=
IPMasquerade=
ProxyARP=
PrimarySlave=
IPv4LLRoute=
DefaultRouteOnDevice=
Address=
IPv6ProxyNDPAddress=
IPv6AcceptRA=
IPv6AcceptRouterAdvertisements=
DNSSECNegativeTrustAnchors=
MACVTAP=
IPv6PrivacyExtensions=
MACVLAN=
MulticastDNS=
LLDP=
Tunnel=
Gateway=
IPv4LL=
IPVLAN=
IPVTAP=
EmitLLDP=
IPv6MTUBytes=
IPv4ProxyARP=
Bridge=
DNSOverTLS=
Bond=
IPv6ProxyNDP=
DNS=
ActiveSlave=
LLMNR=
DNSSEC=
IPv6HopLimit=
IPForward=
IPv6Token=
Xfrm=
Description=
VXLAN=
L2TP=
MACsec=
LinkLocalAddressing=
ConfigureWithoutCarrier=
NTP=
DHCP=
Domains=
IPv6PrefixDelegation=
IPv6PDSubnetId=
VLAN=
DHCPServer=
BindCarrier=
VRF=
IgnoreCarrierLoss=
KeepConfiguration=
[IPv6Prefix]
Prefix=
OnLink=
PreferredLifetimeSec=
AddressAutoconfiguration=
ValidLifetimeSec=
Assign=
[IPv6RoutePrefix]
Route=
LifetimeSec=
[BridgeVLAN]
EgressUntagged=
VLAN=
PVID=
[LLDP]
MUDURL=
[CAN]
SamplePoint=
BitRate=
DataSamplePoint=
DataBitRate=
FDMode=
FDNonISO=
RestartSec=
TripleSampling=
Termination=
ListenOnly=
[Address]
DuplicateAddressDetection=
AutoJoin=
PreferredLifetime=
Address=
Scope=
HomeAddress=
PrefixRoute=
AddPrefixRoute=
ManageTemporaryAddress=
Broadcast=
Peer=
Label=
[RoutingPolicyRule]
Table=
IncomingInterface=
To=
OutgoingInterface=
From=
TypeOfService=
Priority=
FirewallMark=
SourcePort=
DestinationPort=
IPProtocol=
InvertRule=
Family=
SuppressPrefixLength=
User=
[IPv6PrefixDelegation]
RouterPreference=
DNSLifetimeSec=
DNS=
DNSDefaultRoute=
RouterLifetimeSec=
Domains=
EmitDNS=
EmitDomains=
Managed=
OtherInformation=
[Neighbor]
Address=
LinkLayerAddress=
MACAddress=
[IPv6AddressLabel]
Label=
Prefix=
[IPv6AcceptRA]
UseDomains=
RouteTable=
UseDNS=
DHCPv6Client=
UseAutonomousPrefix=
UseOnLinkPrefix=
BlackList=
[DHCPServer]
EmitNTP=
PoolSize=
PoolOffset=
Timezone=
EmitDNS=
NTP=
EmitSIP=
SIP=
POP3Servers=
SMTPServers=
LPRServers=
EmitRouter=
MaxLeaseTimeSec=
DefaultLeaseTimeSec=
EmitTimezone=
DNS=
SendOption=
SendVendorOption=
[NextHop]
Id=
Gateway=
[QDisc]
Parent=
Handle=
[NetworkEmulator]
Parent=
Handle=
DelaySec=
DelayJitterSec=
LossRate=
DuplicateRate=
PacketLimit=
[TokenBucketFilter]
Parent=
Handle=
Rate=
Burst=
LimitSize=
MTUBytes=
MPUBytes=
PeakRate=
LatencySec=
[StochasticFairnessQueueing]
Parent=
Handle=
PerturbPeriodSec=
[FairQueueingControlledDelay]
Parent=
Handle=
PacketLimit=
MemoryLimit=
Flows=
Quantum=
TargetSec=
IntervalSec=
CEThresholdSec=
ECN=
[FairQueueing]
Parent=
Handle=
PacketLimit=
FlowLimit=
Quantum=
InitialQuantum=
MaximumRate=
Buckets=
OrphanMask=
Pacing=
CEThresholdSec=
[ControlledDelay]
Parent=
Handle=
PacketLimit=
TargetSec=
IntervalSec=
CEThresholdSec=
ECN=
[CAKE]
Parent=
Handle=
Bandwidth=
Overhead=
[TrafficControlQueueingDiscipline]
Parent=
NetworkEmulatorDelaySec=
NetworkEmulatorDelayJitterSec=
NetworkEmulatorLossRate=
NetworkEmulatorDuplicateRate=
NetworkEmulatorPacketLimit=
[TrivialLinkEqualizer]
Parent=
Handle=
Id=
[HierarchyTokenBucket]
Parent=
Handle=
DefaultClass=
[HierarchyTokenBucketClass]
Parent=
ClassId=
Priority=
Rate=
CeilRate=
[BFIFO]
Parent=
Handle=
LimitSize=
[PFIFO]
Parent=
Handle=
PacketLimit=
[PFIFOHeadDrop]
Parent=
Handle=
PacketLimit=
[PFIFOFast]
Parent=
Handle=
[GenericRandomEarlyDetection]
Parent=
Handle=
VirtualQueues=
DefaultVirtualQueue=
GenericRIO=
[StochasticFairBlue]
Parent=
Handle=
PacketLimit=
[PIE]
Parent=
Handle=
PacketLimit=
[DeficitRoundRobinScheduler]
Parent=
Handle=
[DeficitRoundRobinSchedulerClass]
Parent=
ClassId=
Quantum=
[HeavyHitterFilter]
Parent=
Handle=
PacketLimit=
