[Unit]
Description=Test Socket ListenSequentialPacket

[Socket]
ListenSequentialPacket=/var/run/test-sequential-packet.socket

[Install]
WantedBy=sockets.target
