# This file contains the rules needed to create persistent device names.

# we are only interested in add actions for block devices
SUBSYSTEM!="block",			GOTO="no_volume_id"
ACTION!="add",				GOTO="no_volume_id"

# and we can safely ignore these kinds of devices
KERNEL=="ram*|loop*|fd*|nbd*",		GOTO="no_volume_id"

# skip removable ide devices, because open(2) on them causes an events loop
BUS=="ide", SYSFS{removable}=="1", DRIVER!="ide-cdrom",	GOTO="no_volume_id"
BUS=="ide", SYSFS{../removable}=="1",			GOTO="no_volume_id"

# disk id
KERNEL=="hd*[!0-9]", \
	IMPORT{program}="/sbin/ata_id --export $tempnode"

KERNEL=="sd*[!0-9]|sr*",		SYSFS{ieee1394_id}=="?*", \
	IMPORT{program}="/bin/echo -e 'ID_SERIAL=$sysfs{ieee1394_id}\nID_BUS=ieee1394'"
KERNEL=="sd*[!0-9]|sr*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="/sbin/usb_id -x"
KERNEL=="sd*[!0-9]|sr*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="/sbin/scsi_id -g -x -s %p -d %N"
KERNEL=="sd*[!0-9]|sr*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="/sbin/scsi_id -g -x -a -s %p -d %N"

KERNEL=="dasd*[!0-9]", \
	IMPORT{program}="/sbin/dasd_id --export $tempnode"

KERNEL=="hd*[0-9]|sd*[0-9]|dasd*[0-9]", IMPORT{parent}="ID_*"
KERNEL=="hd*[!0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}"
KERNEL=="sd*[!0-9]|sr*|dasd[!0-9]*",	ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="hd*[0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}-part%n"
KERNEL=="sd*[0-9]|dasd*[0-9]",		ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}-part%n"

# path
KERNEL=="*[!0-9]|sr*",			ENV{ID_TYPE}=="?*", \
	IMPORT{program}="/sbin/path_id %p"

KERNEL=="*[0-9]",			IMPORT{parent}="ID_*"
KERNEL=="*[!0-9]|sr*",			ENV{ID_PATH}=="?*", \
	SYMLINK+="disk/by-path/$env{ID_PATH}"
KERNEL=="*[0-9]",			ENV{ID_PATH}=="?*", \
	SYMLINK+="disk/by-path/$env{ID_PATH}-part%n"

# UUID and volume label
KERNEL=="*[!0-9]|sr*", SYSFS{removable}=="1", GOTO="no_volume_id"
IMPORT{program}="/sbin/vol_id --export $tempnode"
ENV{ID_FS_UUID}=="?*",		SYMLINK+="disk/by-uuid/$env{ID_FS_UUID}"
ENV{ID_FS_LABEL_SAFE}=="?*",	SYMLINK+="disk/by-label/$env{ID_FS_LABEL_SAFE}"

# end of processing
LABEL="no_volume_id"

