# This file contains the rules needed to create persistent device names.

# we are only interested in add actions for block devices
SUBSYSTEM!="block",			GOTO="no_volume_id"
ACTION!="add",				GOTO="no_volume_id"

# and we can safely ignore these kinds of devices
KERNEL=="ram*|loop*|fd*|nbd*|dm-*",	GOTO="no_volume_id"

# skip removable ide devices, because open(2) on them causes an events loop
KERNEL=="hd*[!0-9]",   ATTR{removable}=="1", DRIVERS=="ide-cs|ide-floppy", \
	GOTO="no_volume_id"
KERNEL=="hd*[0-9]", ATTR{../removable}=="1", \
	GOTO="no_volume_id"

# skip xen virtual hard disks
DRIVERS=="vbd",				GOTO="no_hardware_id"

# look for different kinds of unique identificators
KERNEL=="hd*[!0-9]", \
	IMPORT{program}="ata_id --export $tempnode"

KERNEL=="sd*[!0-9]|sr*|st*",		ATTRS{ieee1394_id}=="?*", \
	ENV{ID_BUS}="ieee1394", ENV{ID_SERIAL}="$attr{ieee1394_id}"
KERNEL=="sd*[!0-9]|sr*|st*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="usb_id -x"
KERNEL=="sd*[!0-9]|sr*|st*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="scsi_id -g -x -s $devpath -d $tempnode"
KERNEL=="sd*[!0-9]|sr*|st*",		ENV{ID_SERIAL}=="", \
	IMPORT{program}="scsi_id -g -x -a -s $devpath -d $tempnode"

KERNEL=="dasd*[!0-9]", \
	IMPORT{program}="dasd_id --export $tempnode"

KERNEL=="*[!0-9]", \
	IMPORT{program}="edd_id --export $tempnode"

# find the physical path of the device
KERNEL=="*[!0-9]|sr*|st*",		IMPORT{program}="path_id $devpath"

LABEL="no_hardware_id"

# import the variables of partitions from the parent disks
KERNEL=="*[0-9]",			IMPORT{parent}="ID_*"

KERNEL=="hd*[!0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}"
KERNEL=="hd*[0-9]",			ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}-part%n"
KERNEL=="sd*[!0-9]|dasd[!0-9]*|sr*",	ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="sd*[0-9]|dasd*[0-9]",		ENV{ID_SERIAL}=="?*", \
	SYMLINK+="disk/by-id/$env{ID_BUS}-$env{ID_SERIAL}-part%n"
KERNEL=="st*",				ENV{ID_SERIAL}=="?*", \
	SYMLINK+="tape/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="*[!0-9]",			ENV{ID_EDD}=="?*", \
	SYMLINK+="disk/by-id/edd-$env{ID_EDD}"
KERNEL=="*[0-9]",			ENV{ID_EDD}=="?*", \
	SYMLINK+="disk/by-id/edd-$env{ID_EDD}-part%n"

KERNEL=="*[!0-9]|sr*",			ENV{ID_PATH}=="?*", \
	SYMLINK+="disk/by-path/$env{ID_PATH}"
KERNEL=="st*",				ENV{ID_PATH}=="?*", \
	SYMLINK+="tape/by-path/$env{ID_PATH}"
KERNEL=="sr*|st*",			GOTO="no_volume_id"
KERNEL=="*[0-9]",			ENV{ID_PATH}=="?*", \
	SYMLINK+="disk/by-path/$env{ID_PATH}-part%n"

# UUID and volume label
KERNEL=="*[!0-9]", ATTR{removable}=="1", GOTO="no_volume_id"
IMPORT{program}="vol_id --export $tempnode"
ENV{ID_FS_UUID}=="?*",		ENV{ID_FS_USAGE}=="filesystem|other|crypto", \
	SYMLINK+="disk/by-uuid/$env{ID_FS_UUID}"
ENV{ID_FS_LABEL_SAFE}=="?*",	ENV{ID_FS_USAGE}=="filesystem|other", \
	SYMLINK+="disk/by-label/$env{ID_FS_LABEL_SAFE}"

# end of processing
LABEL="no_volume_id"

