SUBSYSTEM!="input",			GOTO="persistent_input_end"
ACTION!="add",				GOTO="persistent_input_end"
# ignore the mid-level drivers
KERNEL=="input[0-9]*",			GOTO="persistent_input_end"

# usb devices
SUBSYSTEMS=="usb",			IMPORT{program}="usb_id -x"
SUBSYSTEMS=="usb", \
	ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01", \
					ENV{ID_CLASS}="kbd"
SUBSYSTEMS=="usb", \
	ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="02", \
					ENV{ID_CLASS}="mouse"

# other devices
DRIVERS=="pcspkr",			ENV{ID_CLASS}="spkr"
DRIVERS=="atkbd",			ENV{ID_CLASS}="kbd"
DRIVERS=="psmouse",			ENV{ID_CLASS}="mouse"
ATTRS{name}=="*dvb*|*DVB*|* IR *",	ENV{ID_CLASS}="ir"
# this means (ABS_X || ABS_WHEEL || ABS_THROTTLE) && !BTN_TOUCH
ATTRS{modalias}=="input:*-*a[068],*|input:*-*a*,[68],*m*", \
	ATTRS{modalias}!="input:*-*k*14A,*r*", \
					ENV{ID_CLASS}="joystick"

ENV{ID_SERIAL}=="",			ENV{ID_SERIAL}="noserial"

# by-id links, generic and for the event devices
KERNEL=="mouse*", ENV{ID_BUS}=="?*", ENV{ID_CLASS}=="?*", \
	SYMLINK+="input/by-id/$env{ID_BUS}-$env{ID_SERIAL}-$env{ID_CLASS}"
KERNEL=="event*", ENV{ID_BUS}=="?*", ENV{ID_CLASS}=="?*", \
	SYMLINK+="input/by-id/$env{ID_BUS}-$env{ID_SERIAL}-event-$env{ID_CLASS}"

# by-path links
IMPORT{program}="path_id %p"
KERNEL=="mouse*", ENV{ID_PATH}=="?*", \
	SYMLINK+="input/by-path/$env{ID_PATH}-$env{ID_CLASS}"
KERNEL=="event*", ENV{ID_PATH}=="?*", \
	SYMLINK+="input/by-path/$env{ID_PATH}-event-$env{ID_CLASS}"

LABEL="persistent_input_end"

