[Unit]
Description=Issue 16115 Repro with on-abnormal

[Service]
Type=simple
Restart=on-abnormal
ExecCondition=/bin/false
ExecStart=sleep 100
RestartSec=1
