/cap-from-name.gperf
/cap-from-name.h
/cap-list.txt
/cap-to-name.h
/errno-from-name.gperf
/errno-from-name.h
/errno-list.txt
/errno-to-name.h
/af-from-name.gperf
/af-from-name.h
/af-list.txt
/af-to-name.h
/arphrd-from-name.gperf
/arphrd-from-name.h
/arphrd-list.txt
/arphrd-to-name.h
