# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Relabel all filesystems
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
Conflicts=shutdown.target
Before=shutdown.target
Before=multi-user.target
# Needs to access /var, which may not have been populated yet
After=systemd-tmpfiles-setup.service
# Must wait for systemd-machine-id-commit or firstboot-autorelabel will reactivate autorelabel
After=systemd-machine-id-commit.service
ConditionSecurity=selinux
ConditionPathExists=|/.autorelabel

[Service]
ExecStart=sh -xec 'echo 0 >/sys/fs/selinux/enforce; fixfiles -f -F relabel; rm /.autorelabel; systemctl --force reboot'
Type=oneshot
TimeoutSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
