# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=D:Cyclic
After=b.service
Before=a.service
Requires=a.service

[Service]
ExecStart=/bin/true
