# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=DML override empty service

[Service]
Slice=dml-override.slice
Type=oneshot
ExecStart=/bin/true
