# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=DML passthrough set ML service

[Service]
Slice=dml-passthrough.slice
Type=oneshot
ExecStart=true
MemoryLow=0
