# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=DML passthrough empty service

[Service]
Slice=dml-passthrough.slice
Type=oneshot
ExecStart=/bin/true
