# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=E:Cyclic
After=b.service
Before=a.service
Wants=a.service

[Service]
ExecStart=/bin/true
