# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=End the test
After=testsuite.target
OnFailure=poweroff.target
OnFailureJobMode=replace-irreversibly

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/tests/testdata/units/end.sh
TimeoutStartSec=5m
