# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Activate relabelling on firstboot only
DefaultDependencies=no
Wants=first-boot-complete.target
Requires=local-fs.target
After=local-fs.target
Conflicts=shutdown.target
Before=shutdown.target
Before=first-boot-complete.target sysinit.target autorelabel.service
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
ExecStart=touch /.autorelabel
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
