# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Change prio

[Service]
ExecStart=/bin/true
CPUSchedulingPriority=1
CPUSchedulingPriority=2
CPUSchedulingPriority=99
CPUSchedulingPolicy=rr
