# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Upheld Unit
Requires=testsuite-57-retry-fail.service
After=testsuite-57-retry-fail.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/echo ok
