[Unit]
Description=Honor First Shutdown feature
After=multi-user.target

[Service]
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
ExecStop=sh -c 'kill -KILL $MAINPID'
FailureAction=reboot

[Install]
WantedBy=multi-user.target
