[Unit]
Description=TESTSUITE-55-UDEV-TAGS

[Service]
ExecStartPre=rm -f /failed /testok
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
Type=oneshot
