# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Issue 16115 Repro with on-failure

[Service]
Type=simple
Restart=on-failure
ExecCondition=/bin/false
ExecStart=sleep 100
RestartSec=1
