# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=TEST-58-REPART

[Service]
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
Type=oneshot
