# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=TEST-70-LONG-UNIT-NAMES

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
