[Unit]
Description=Service that uses device isolation

[Service]
DevicePolicy=strict
DeviceAllow=/dev/null r
StandardOutput=file:/testsuite66serviceresults
ExecStartPre=rm -f /testsuite66serviceresults
ExecStart=/bin/bash -c "while true; do sleep 0.01 && echo meow > /dev/null && echo thisshouldnotbehere; done"
