# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=TEST-67-INTEGRITY
After=multi-user.target

[Service]
ExecStartPre=rm -f /failed /testok
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
Type=oneshot
