# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=TEST-85-NETWORK
After=multi-user.target

[Service]
ExecStart=/usr/lib/systemd/tests/testdata/test-network/systemd-networkd-tests.py --no-journal NetworkdNetworkTests.test_activation_policy NetworkdNetworkTests.test_activation_policy_required_for_online
Type=oneshot
