# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=TEST-68-PROPAGATE-EXIT-STATUS

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
