# CAPI devices
SUBSYSTEM="capi",		GROUP="dialout"
KERNEL=="capi",			NAME="capi20", SYMLINK+="isdn/capi20"
KERNEL=="capi*",		NAME="capi/%n"

# ISDN devices
KERNEL=="isdn*",		NAME="%k", MODE="600"
KERNEL=="isdnctrl*",		NAME="%k", MODE="600"
KERNEL=="ippp*",		NAME="%k", MODE="600"
KERNEL=="isdninfo*",		NAME="%k", MODE="444"

# ISDN USB
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/c00*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/1000*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/1900*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2000*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2200*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2300*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2800*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/3000*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/3500*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/3600*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2805*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/2806*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/4401*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="57c/4601*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="483/4810*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="959/2bd0*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"
SUBSYSTEM=="usb", ENV{PRODUCT}=="9bf/*", RUN+="/lib/udev/isdn.sh", ENV{SYSCONFIG}="no"

# ISDN PCMCIA
# AVM B1 models
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa95D42008pb845DC335pc*pd*", RUN+="/lib/udev/isdn.sh b1 1", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa95D42008pb81E10430pc*pd*", RUN+="/lib/udev/isdn.sh b1 2", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa95D42008pb18E8558Apc*pd*", RUN+="/lib/udev/isdn.sh b1 3", ENV{SYSCONFIG}="no"
# AVM A1 models (aka Fritz!Card PCMCIA)
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa95D42008pbADC9D4BBpc*pd*", RUN+="/lib/udev/isdn.sh a1 1", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa8D9761C8pb01C5AA7Bpc*pd*", RUN+="/lib/udev/isdn.sh a1 2", ENV{SYSCONFIG}="no"
# teles
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa67B50EAEpbE9E70119pc*pd*", RUN+="/lib/udev/isdn.sh teles 1", ENV{SYSCONFIG}="no"
# sedlbauer
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa81FB79F5pbF3612E1Dpc6B95C78Apd*", RUN+="/lib/udev/isdn.sh sedlbauer 1", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa81FB79F5pbE4E9BC12pc397B7E90pd*", RUN+="/lib/udev/isdn.sh sedlbauer 2", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa81FB79F5pbE4E9BC12pc2E5C7FCEpd*", RUN+="/lib/udev/isdn.sh sedlbauer 3", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa81FB79F5pbE4E9BC12pc8DB143FEpd*", RUN+="/lib/udev/isdn.sh sedlbauer 4", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa81FB79F5pbE4E9BC12pcB391AB4Cpd*", RUN+="/lib/udev/isdn.sh sedlbauer 5", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*paD79E0B84pb21D083AEpc*pd*", RUN+="/lib/udev/isdn.sh sedlbauer 6", ENV{SYSCONFIG}="no"
# elsa
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa983DE2C4pb333BA257pc*pd*", RUN+="/lib/udev/isdn.sh elsa 1", ENV{SYSCONFIG}="no"
SUBSYSTEM=="pcmcia", ENV{MODALIAS}=="pcmcia:m*c*f*fn*pfn*pa639E5718pb333BA257pc*pd*", RUN+="/lib/udev/isdn.sh elsa 2", ENV{SYSCONFIG}="no"
