# console
KERNEL=="pty[pqrstuvwxyzabcdef][0123456789abcdef]", NAME="%k", GROUP="tty", MODE="666", OPTIONS="last_rule"
KERNEL=="tty[pqrstuvwxyzabcdef][0123456789abcdef]", NAME="%k", GROUP="tty", MODE="666", OPTIONS="last_rule"
KERNEL=="vcs*",			NAME="%k", GROUP="tty", MODE="620", OPTIONS="last_rule"
KERNEL=="vcsa*",		NAME="%k", GROUP="tty", MODE="620", OPTIONS="last_rule"
KERNEL=="tty",			NAME="%k", GROUP="tty", MODE="666", OPTIONS="last_rule"
KERNEL=="tty[0-9]*",		NAME="%k", GROUP="tty", MODE="620", OPTIONS="last_rule"
KERNEL=="console",		NAME="%k", MODE="600"
KERNEL=="ptmx",			NAME="%k", GROUP="tty", MODE="666"

# serial devices
KERNEL=="tty[A-Z]*",		NAME="%k", GROUP="uucp"
KERNEL=="pppox*",		NAME="%k", GROUP="uucp"
KERNEL=="ircomm*",		NAME="%k", GROUP="uucp"
KERNEL=="modems/mwave*",	NAME="%k", GROUP="uucp"
KERNEL=="hvc*",			NAME="%k", GROUP="uucp"
KERNEL=="hvsi*",		NAME="%k", GROUP="uucp"
KERNEL=="iseries/vtty*",	NAME="%k", GROUP="uucp"

# video/graphics
SUBSYSTEM=="video4linux",	GROUP="video"
SUBSYSTEM=="graphics"		GROUP="video"
KERNEL=="video*",		NAME="%k", GROUP="video"
KERNEL=="vtx*",			NAME="%k", GROUP="video"
KERNEL=="vbi*",			NAME="%k", GROUP="video"
KERNEL=="winradio*",		NAME="%k", GROUP="video"
KERNEL=="vttuner*",		NAME="%k", GROUP="video"
KERNEL=="nvidia*",		NAME="%k", GROUP="video"
KERNEL=="nvidiactl*",		NAME="%k", GROUP="video"

# dvb
KERNEL=="dvb*", PROGRAM="/etc/udev/scripts/dvb.sh %k", NAME="%c", GROUP="video"

# ALSA/sound
SUBSYSTEM="sound",		GROUP="audio"
SUBSYSTEM="snd",		GROUP="audio"
KERNEL=="controlC[0-9]*",	NAME="snd/%k"
KERNEL=="hwC[D0-9]*",		NAME="snd/%k"
KERNEL=="pcmC[D0-9cp]*",	NAME="snd/%k"
KERNEL=="midiC[D0-9]*",		NAME="snd/%k"
KERNEL=="timer",		NAME="snd/%k"
KERNEL=="seq",			NAME="snd/%k"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="1604/8000/*", RUN+="/sbin/fxload -s /usr/share/alsa/firmware/usx2yloader/tascam_loader.ihx -I /usr/share/alsa/firmware/usx2yloader/us428fw.ihx"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="1604/8004/*", RUN+="/sbin/fxload -s /usr/share/alsa/firmware/usx2yloader/tascam_loader.ihx -I /usr/share/alsa/firmware/usx2yloader/us224fw.ihx"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="1604/8006/*", RUN+="/sbin/fxload -s /usr/share/alsa/firmware/usx2yloader/tascam_loader.ihx -I /usr/share/alsa/firmware/usx2yloader/us122fw.ihx"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="1604/8001/*", RUN+="/sbin/startproc /usr/bin/us428control"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="1604/8005/*", RUN+="/sbin/startproc /usr/bin/us428control"
SUBSYSTEM=="sound", KERNEL=="controlC?", RUN+="/usr/sbin/alsactl -F restore %n"
SUBSYSTEM=="sound", KERNEL=="hwC?D2", DRIVER=="EMU10K1_Audigy", RUN+="/etc/dev.d/snd/hwC0D2/alsa"

# OpenCT (SmartCard)
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="973/1*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="529/50c*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="529/514*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="73d/5*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="4b9/1200*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="4b9/1300*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="76b/596*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="76b/1784*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="8d4/9*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"
SUBSYSTEM=="usb", ACTION=="add", ENV{INTERFACE}=="11/*", RUN+="/usr/sbin/openct-control attach $env{DEVICE} usb:$env{PRODUCT}"

# CAPI devices
SUBSYSTEM="capi",		GROUP="dialout"
KERNEL=="capi",			NAME="capi20", SYMLINK+="isdn/capi20"
KERNEL=="capi*",		NAME="capi/%n"

# ISDN
KERNEL=="isdn*",		NAME="%k", MODE="600"
KERNEL=="isdnctrl*",		NAME="%k", MODE="600"
KERNEL=="ippp*",		NAME="%k", MODE="600"
KERNEL=="isdninfo*",		NAME="%k", MODE="444"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/c00*", IMPORT="/bin/echo 'DRV=fcusb'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/1000*", IMPORT="/bin/echo -e 'DRV=fcusb2\nFIRMWARE=fus2base.frm'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/1900*", IMPORT="/bin/echo -e 'DRV=fcusb2\nFIRMWARE=fus3base.frm'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2000*", IMPORT="/bin/echo DRV=fxusb", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2200*", IMPORT="/bin/echo DRV=bfusb", RUN+="/etc/sysconfig/isdn/scripts/load-bfusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2300*", IMPORT="/bin/echo -e 'DRV=fcdslusb\nFIRMWARE=fdsubase.frm\nDSL_CONTR=dslisdn'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2800*", IMPORT="/bin/echo DRV=fxusb_CZ", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/3000*", IMPORT="/bin/echo -e 'DRV=fcdslusba\nFIRMWARE=fdsabase.frm\nDSL_CONTR=dslonly\nISDNLOG_START=no'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/3500*", IMPORT="/bin/echo -e 'DRV=fcdslslusb\nFIRMWARE=fdlubase.frm\nDSL_CONTR=dslonly\nISDNLOG_START=no'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/3600*", IMPORT="/bin/echo -e 'DRV=fcdslusb2\nFIRMWARE=fds2base.frm\nDSL_CONTR=dslisdn'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2805*", IMPORT="/bin/echo 'DRV=e2220pc'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/2806*", IMPORT="/bin/echo 'DRV=e5520pc'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/4401*", IMPORT="/bin/echo 'DRV=e2220pc'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="57c/4601*", IMPORT="/bin/echo 'DRV=e5520pc'", RUN+="/etc/sysconfig/isdn/scripts/load-avmusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="483/4810*", IMPORT="/bin/echo 'DRV=hisax_st5481'", RUN+="/etc/sysconfig/isdn/scripts/load-hisaxusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="959/2bd0*", IMPORT="/bin/echo 'DRV=hfc_usb'", RUN+="/etc/sysconfig/isdn/scripts/load-hisaxusb"
SUBSYSTEM=="usb", ACTION=="add", ENV{PRODUCT}=="9bf/*", IMPORT="/bin/echo 'DRV=auerswald'", RUN+="/etc/sysconfig/isdn/scripts/load-auerswald"

# input devices
KERNEL=="mice",			NAME="input/%k", MODE="0640"
KERNEL=="mouse*",		NAME="input/%k", MODE="0640"
KERNEL=="event*",		NAME="input/%k", MODE="0640"
KERNEL=="js*",			NAME="input/%k", MODE="0644"
KERNEL=="ts*",			NAME="input/%k", MODE="0600"
KERNEL=="uinput",		NAME="input/%k", MODE="0600"
KERNEL=="event*", PROGRAM="/sbin/udev.get_input_lirc.sh %k", RESULT="*IR*", NAME="input/%k", SYMLINK+="input/ir"
KERNEL=="lirc0",		NAME="%k", SYMLINK+="lirc"
SUBSYSTEM=="input_device", RUN+="/etc/hotplug.d/input_device/50-input_device.hotplug"

# printer
SUBSYSTEM=="usb", KERNEL=="lp*", ACTION=="add", NAME="usb/%k", SYMLINK+="usb%k", GROUP="lp"
SUBSYSTEM=="printer", KERNEL=="lp*", ACTION=="add", NAME="%k", GROUP="lp"
KERNEL=="irlpt*",		NAME="%k", GROUP="lp"

# cpu devices
KERNEL=="cpu[0-9]*",		NAME="cpu/%n/cpuid"
KERNEL=="msr[0-9]*",		NAME="cpu/%n/msr"
KERNEL=="microcode",		NAME="cpu/microcode", MODE="0600"

# IEEE1394 devices
KERNEL=="raw1394*",		NAME="%k", GROUP="video"
KERNEL=="dv1394*",		NAME="%k", SYMLINK+="dv1394/%n", GROUP="video"
KERNEL=="video1394*",		NAME="%k", SYMLINK+="video1394/%n", GROUP="video"

# 183 = /dev/hwrng        Generic random number generator
KERNEL=="hw_random",		NAME="hwrng", SYMLINK+="%k"
# 219 /dev/modems/mwave MWave modem firmware upload
KERNEL=="mwave",		NAME="modems/%k"
# 169 /dev/specialix_rioctl Specialix RIO serial control
KERNEL=="rioctl",		NAME="specialix_rioctl", SYMLINK+="%k"
# 167 /dev/specialix_sxctl Specialix serial control
KERNEL=="sxctl",		NAME="specialix_sxctl", SYMLINK+="%k"

# misc devices
KERNEL=="mem",			NAME="%k", GROUP="kmem", MODE="640"
KERNEL=="kmem",			NAME="%k", GROUP="kmem", MODE="640"
KERNEL=="port",			NAME="%k", GROUP="kmem", MODE="640"
KERNEL=="nvram",		NAME="%k", GROUP="kmem"
KERNEL=="null",			NAME="%k", MODE="666"
KERNEL=="zero",			NAME="%k", MODE="666"
KERNEL=="full",			NAME="%k", MODE="622"
KERNEL=="random",		NAME="%k", MODE="666"
KERNEL=="urandom",		NAME="%k", MODE="644"
KERNEL=="rtc",			GROUP="audio"
KERNEL=="sonypi",		MODE="0666"
KERNEL=="agpgart",		MODE="0600", GROUP="video"
KERNEL=="djs*",			NAME="%k", MODE="644"
KERNEL=="sgi_*",		NAME="%k", MODE="666"
KERNEL=="rrom*",		NAME="%k", MODE="400"
KERNEL=="rflash*",		NAME="%k", MODE="400"
KERNEL=="usbscanner*",		NAME="%k", MODE="644"
KERNEL=="3270/ttycons*",	NAME="%k", MODE="600"
KERNEL=="3270/tub*",		NAME="%k", MODE="666"
KERNEL=="3270/tubcons*",	NAME="%k", MODE="600"
KERNEL=="ica",			NAME="%k", MODE="666"
KERNEL=="z90crypt",		NAME="%k", MODE="666"
KERNEL=="mmtimer",		NAME="%k", MODE="444"

# fix floppy devices
KERNEL=="nvram", ACTION=="add", NAME="%k", MODE="600", RUN="/sbin/load_floppy_module"
KERNEL=="fd*", ACTION=="add", SYSFS{device/cmos}=="*", RUN="/sbin/create_floppy_devices -c -t $sysfs{device/cmos} -m %M /dev/%k"
KERNEL=="fd*", ACTION=="remove", RUN="/sbin/remove_floppy_devices /dev/%k"

# block devices
SUBSYSTEM=="block", GROUP="disk", MODE="0640"
SUBSYSTEM=="scsi_device", ACTION=="add", SYSFS{device/type}=="0", RUN+="/sbin/modprobe sd_mod"
SUBSYSTEM=="scsi_device", ACTION=="add", SYSFS{device/type}=="1", RUN+="/sbin/modprobe st"
SUBSYSTEM=="scsi_device", ACTION=="add", SYSFS{device/type}=="[345]", RUN+="/sbin/modprobe sr_mod"

# misc storage devices (non-block)
KERNEL=="sg*",			NAME="%k", GROUP="disk", MODE="640"
KERNEL=="st*",			NAME="%k", GROUP="disk"
KERNEL=="nst*",			NAME="%k", GROUP="disk"
KERNEL=="initrd",		NAME="%k", GROUP="disk"
KERNEL=="qft*",			NAME="%k", GROUP="disk"
KERNEL=="nqft*",		NAME="%k", GROUP="disk"
KERNEL=="zqft*",		NAME="%k", GROUP="disk"
KERNEL=="nzqft*",		NAME="%k", GROUP="disk"
KERNEL=="rawqft*",		NAME="%k", GROUP="disk"
KERNEL=="nrawqft*",		NAME="%k", GROUP="disk"
KERNEL=="pf*",			NAME="%k", GROUP="disk"
KERNEL=="sch*",			NAME="%k", GROUP="disk"
KERNEL=="pt*",			NAME="%k", GROUP="disk"
KERNEL=="npt*",			NAME="%k", GROUP="disk"
KERNEL=="pg*",			NAME="%k", GROUP="disk"
KERNEL=="evms/block_device*",	NAME="%k", GROUP="disk"
KERNEL=="rawctl*",		NAME="%k", GROUP="disk"
KERNEL=="osst*",		NAME="%k", GROUP="disk"
KERNEL=="nosst*",		NAME="%k", GROUP="disk"
KERNEL=="iseries/vt*",		NAME="%k", GROUP="disk"
KERNEL=="iseries/nvt*",		NAME="%k", GROUP="disk"
KERNEL=="iseries/ibmsis*",	NAME="%k", GROUP="disk"

# device mapper targets
KERNEL=="device-mapper", ACTION=="add", NAME="%k", SYMLINK+="mapper/control"
KERNEL=="dm-[0-9]*", ACTION=="add", PROGRAM="/sbin/udev.devmap_name.sh %M %m", NAME="mapper/%c"

# persistent disk device links /dev/disk/
# skip rules for for ram/loop/fd
SUBSYSTEM=="block", KERNEL=="ram*|loop*|fd*", GOTO="persistent_end"
ACTION!="add", GOTO="persistent_end"

# never access removable ide devices, the drivers are causing event loops on open()
SUBSYSTEM=="block", BUS=="ide", SYSFS{removable}="1", GOTO="persistent_end"

# by-id (hardware serial number)
KERNEL=="hd*[!0-9]", IMPORT="/sbin/ata_id --export $tempnode"
KERNEL=="hd*[!0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="$env{ID_TYPE}/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}"
KERNEL=="hd*[0-9]", IMPORT{parent}=="ID_*", SYMLINK+="$env{ID_TYPE}/by-id/ata-$env{ID_MODEL}_$env{ID_SERIAL}-part%n"

KERNEL=="sd*[!0-9]|sr*", SYSFS{ieee1394_id}=="*", IMPORT="/bin/echo -e 'ID_SERIAL=$sysfs{ieee1394_id}\nID_BUS=ieee1394\nID_TYPE=disk'"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}=="", IMPORT="/sbin/usb_id -x"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}=="", IMPORT="/sbin/scsi_id -g -x -s %p"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}=="", IMPORT="/sbin/scsi_id -g -x -a -s %p"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}=="?*", SYMLINK+="$env{ID_TYPE}/by-id/$env{ID_BUS}-$env{ID_SERIAL}"

# for partitions import parent information
KERNEL=="sd*[0-9]", IMPORT{parent}=="ID_*"
KERNEL=="sd*[0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="$env{ID_TYPE}/by-id/$env{ID_BUS}-$env{ID_SERIAL}-part%n"

KERNEL=="dasd*[!0-9]", IMPORT="/sbin/dasd_id --export $tempnode"
KERNEL=="dasd*[!0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="$env{ID_TYPE}/by-id/$env{ID_BUS}-$env{ID_SERIAL}"
KERNEL=="dasd*[0-9]", IMPORT{parent}=="ID_*"
KERNEL=="dasd*[0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="$env{ID_TYPE}/by-id/$env{ID_BUS}-$env{ID_SERIAL}-part%n"

# by-path (shortest physical path)
KERNEL=="*[!0-9]", ENV{ID_TYPE}=="?*", IMPORT="/sbin/path_id %p", SYMLINK+="$env{ID_TYPE}/by-path/$env{ID_PATH}"
KERNEL=="*[0-9]", IMPORT{parent}=="ID_*"
KERNEL=="*[0-9]", ENV{ID_PATH}=="?*", SYMLINK+="$env{ID_TYPE}/by-path/$env{ID_PATH}-part%n"

# by-label/by-uuid (filesystem properties)
KERNEL=="*[!0-9]", SYSFS{removable}=="1", GOTO="persistent_end"
KERNEL=="sr*", GOTO="persistent_end"
SUBSYSTEM!="block", GOTO="persistent_end"
KERNEL=="*[0-9]", IMPORT="/sbin/vol_id --export $tempnode"
KERNEL=="*[0-9]", ENV{ID_FS_UUID}=="?*", SYMLINK+="disk/by-uuid/$env{ID_FS_UUID}"
KERNEL=="*[0-9]", ENV{ID_FS_LABEL_SAFE}=="?*", SYMLINK+="disk/by-label/$env{ID_FS_LABEL_SAFE}"
LABEL="persistent_end"

# network devices
KERNEL=="tun", NAME="net/%k", MODE="0600"
SUBSYSTEM=="net", ACTION=="add", RUN+="/sbin/ifup $env{INTERFACE} -o hotplug"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/sbin/ifdown %k -o hotplug"

# libusb device access (mount usbfs or usbdev nodes)
DEVPATH=="/module/usbcore", ACTION=="add", RUN+="/bin/mount -t usbfs usbfs /proc/bus/usb"
SUBSYSTEM="usb_device", PROGRAM="/bin/sh -c 'X=%k X=$${X#usbdev} B=$${X%%%%.*} D=$${X#*.}; echo bus/usb/$$B/$$D'", SYMLINK="%c"

# firmware loader
SUBSYSTEM=="firmware", ACTION=="add", RUN+="/etc/hotplug.d/firmware/50-firmware.hotplug"

# SUSE system integration
SUBSYSTEM=="pci", ACTION=="add", RUN+="/sbin/hwup bus-pci-%k -o hotplug"
SUBSYSTEM=="usb", ACTION=="add", RUN+="/sbin/hwup usb-devpath-/sys%p -o hotplug"
SUBSYSTEM=="ieee1394", ACTION=="add", RUN+="/sbin/hwup ieee1394-devpath-/sys%p -o hotplug"
SUBSYSTEM=="ccw", ACTION=="add", RUN+="/sbin/hwup ccw-devpath-/sys%p -o hotplug"
SUBSYSTEM=="ccwgroup", ACTION=="add", RUN+="/sbin/hwup ccwgroup-devpath-/sys%p -o hotplug"
SUBSYSTEM=="scsi", DEVPATH=="/devices/css*", ACTION=="remove", RUN+="/sbin/hwdown scsi-devpath-/sys%p -o hotplug"
SUBSYSTEM=="scsi_host", ACTION=="add", SYSFS{device/cutype}=="*", RUN+="/sbin/hwup scsi__host-devpath-/sys%p -o hotplug"

# default
RUN+="/usr/sbin/hal.hotplug"
RUN+="socket:/org/kernel/udev/monitor"

# debug events to /events, but not on default udev_log="err"
ENV{UDEV_LOG}=="[4-9]", RUN+="/sbin/hotplugeventrecorder"

