SUBSYSTEM=="pcmcia_socket", ACTION=="add", RUN+="/sbin/hwup pcmcia_socket-devpath-%p -o hotplug"
SUBSYSTEM=="pcmcia", ACTION=="add", RUN+="/sbin/hwup pcmcia-devpath-%p -o hotplug"

LABEL="after_pcmcia"

