# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Upheld Unit
Requires=testsuite-23-retry-fail.service
After=testsuite-23-retry-fail.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=echo ok
