# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Nomem Leaf Service

[Service]
Slice=nomem.slice
Type=oneshot
ExecStart=true
IOWeight=200
MemoryAccounting=true
