# SPDX-License-Identifier: LGPL-2.1-or-later
[Service]
Type=notify
NotifyAccess=all
MountAPIVFS=yes
PrivateTmp=yes
ExecStart=bash -c 'touch /tmp/shared-private-file && systemd-notify --ready && sleep infinity'
