systemd-ask-password-wall.service
quotacheck.service
fsck@.service
fsck-root.service
systemd-tmpfiles-clean.service
systemd-tmpfiles-setup.service
halt.service
poweroff.service
reboot.service
kexec.service
systemd-user-sessions.service
systemd-readahead-done.service
systemd-tmpfiles.service
systemd-readahead-collect.service
systemd-readahead-replay.service
serial-getty@.service
systemd-kmsg-syslogd.service
systemd-modules-load.service
systemd-remount-api-vfs.service
systemd-vconsole-setup.service
systemd-auto-serial-getty.service
systemd-shutdownd.service
systemd-random-seed-load.service
systemd-random-seed-save.service
systemd-initctl.service
systemd-logger.service
syslog.target
sysinit.target
graphical.target
multi-user.target
getty@.service
remote-fs.target
systemd-update-utmp-runlevel.service
systemd-update-utmp-shutdown.service
test-env-replace
