#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

# See systemd.special(7) for details

[Unit]
Description=Emergency Shell

[Service]
ExecStart=/bin/sh
StandardInput=tty
Restart=restart-always
RestartSec=0
KillMode=process-group
