# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Check LUKS Volume %I for Legacy PKCS#11 Padding
Documentation=man:systemd-cryptenroll(1)
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-cryptsetup@%i.service
Before=sysinit.target shutdown.target
ConditionPathExists=/usr/lib/systemd/systemd-cryptsetup-check-padding

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-cryptsetup-check-padding %I
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target