#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Automatically Enable All Suggested Components & Features for System Updates
Documentation=man:systemd-sysupdate-auto-enable.service(8)
Before=systemd-sysupdate-update.service

[Service]
Type=oneshot
ExecStart=systemd-sysupdate enable-component --component-suggested
ExecStart=systemd-sysupdate enable-feature --component-all --feature-all

[Install]
WantedBy=systemd-sysupdate-update.service
