#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=System Install Tool
Documentation=man:systemd-sysinstall(1)
Wants=dbus.socket systemd-logind.service systemd-mute-console.socket
After=systemd-logind.service

[Service]
ExecStart=systemd-sysinstall --variables=yes --reboot=yes --mute-console=yes
StandardOutput=tty
StandardInput=tty
StandardError=tty
TTYReset=yes
