# SPDX-License-Identifier: LGPL-2.1-or-later
#
# This file is part of systemd.
#
# systemd is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation; either version 2.1 of the License, or
# (at your option) any later version.
[Unit]
Description=System Report Socket
Documentation=man:systemd-report(1)
DefaultDependencies=no
Before=sockets.target

[Socket]
ListenStream=/run/systemd/io.systemd.Report
FileDescriptorName=varlink
SocketMode=06444
Accept=yes
MaxConnectionsPerSource=16
RemoveOnStop=yes
XAttrEntryPoint=user.varlink=entrypoint
XAttrListen=user.varlink=listen
XAttrAccept=user.varlink=server

[Install]
WantedBy=sockets.target
