#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Network Varlink Socket for Namespace %i
Documentation=man:systemd-networkd.service(8) man:networkd.conf(5)
StopWhenUnneeded=yes

[Socket]
Service=systemd-networkd@%i.service
ListenStream=/run/systemd/netif.%i/io.systemd.network
SocketMode=0600
