#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Drop Read-Ahead Data
Documentation=man:systemd-readahead-replay.service(8)
ConditionPathExists=/.readahead

[Service]
Type=oneshot
ExecStart=/bin/rm -f /.readahead

[Install]
WantedBy=system-update.target
Also=systemd-readahead-collect.service
