#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Runtime Directory
DefaultDependencies=no
Requires=var-run.mount
After=var-run.mount
Before=local-fs.target

[Service]
Type=oneshot
ValidNoProcess=yes
ExecStart=/bin/touch /var/run/utmp ; /bin/chmod 0664 /var/run/utmp ; /bin/chown root:utmp /var/run/utmp

[Install]
WantedBy=local-fs.target
