# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Service Test Path Unit

[Service]
ExecStart=sleep infinity
Type=exec
RemainAfterExit=true
