# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Unit that sets UpheldBy= through [Install]

[Service]
ExecStart=sleep infinity

[Install]
UpheldBy=TEST-23-UNIT-FILE-retry-uphold.service
