# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Upholding Unit
Upholds=TEST-23-UNIT-FILE-retry-upheld.service

[Service]
ExecStart=sleep infinity
