agetty
binfmt
cgroups
modules-load
bootmisc
fsck
hostname
local
localmount
loopback
moused
netmount
network
root
savecache
swap
sysctl
urandom
devfs
dmesg
hwclock
consolefont
keymaps
killprocs
modules
mount-ro
mtab
net-online
numlock
osclock
procfs
s6-svscan
staticroute
sysfs
devdb
hostid
newsyslog
pf
rarpd
rc-enabled
rpcbind
runsvdir
savecore
swap-blk
swclock
syslogd
termencoding
ttys
wscons
