---
# vi: ts=2 sw=2 et:
# SPDX-License-Identifier: LGPL-2.1-or-later
#
name: Build test
on:
  pull_request:
    paths:
      - '**/meson.build'
      - '.github/workflows/**'
      - 'meson_options.txt'
      - 'src/**'
      - 'test/fuzz/**'

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.env.COMPILER }}-${{ matrix.env.COMPILER_VERSION }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        env:
          - { COMPILER: "gcc",   COMPILER_VERSION: "10" }
          - { COMPILER: "gcc",   COMPILER_VERSION: "11" }
          - { COMPILER: "clang", COMPILER_VERSION: "11" }
          - { COMPILER: "clang", COMPILER_VERSION: "12" }
          - { COMPILER: "clang", COMPILER_VERSION: "13" }
    env: ${{ matrix.env }}
    steps:
      - name: Repository checkout
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - name: Build check (${{ env.COMPILER }}-${{ env.COMPILER_VERSION }})
        run: sudo -E .github/workflows/build_test.sh
